{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Register">
  </form>
{% endblock %}
