{% extends 'base.html' %}
{% block content %}
{% if g["role"] == "admin" %}
<ul class="list-group">
    <li class="list-group-item">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product name:</label>
                <input type="text" name="name" id="name" class="form-control" required>
                <label for="price">Price:</label>
                <input type="text" name="price" id="price" class="form-control" required>
                <label for="image">Image:</label>
                <input type="file" name="image" id="image" class="form-control">
                <label for="category">Category:</label>
                <select class="form-control" name="id_category" required>
                    {% for category in categories %}
                    {% if id_category == category['id'] %}
                    <option value="{{ category['id'] }}" selected="selected">{{ category["name"] }}</option>
                    {% else %}
                    <option value="{{ category['id'] }}">{{ category["name"] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </form>
    </li>
</ul>
{% endif %}
<table class="table table-borderless">
    <tbody>
        <tr>
        {% for product in products %}
            {% if loop.index % 4 == 0 %}
        </tr>
        <tr>
            {% endif %}
                <td style="width: 30%;" class="px-auto mx-auto">
                    <ul class="list-group">
                        <a href="{{ url_for('product', id_product=product['id']) }}">
                        <li class="list-group-item">
                            {{ product["name"] }}
                        </li>
                        {% if product["image"] %}
                        <li style="height: 300px;"class="list-group-item text-center">
                            <img src="{{ url_for('static', filename=product['image']) }}" style="max-width: 400px; max-height: 300px;" class="img-thumbnail">
                        </li>
                        {% else %}
                        <li style="height: 300px" class="list-group-item text-center">
                            <img src="{{ url_for('static', filename='no_image.png') }}" style="max-width: 400px; max-height: 300px;" class="img-thumbnail">
                        </li>
                        {% endif %}
                        </a>
                        <li class="list-group-item">
                            {{ product["price"] }} zł
                        </li>
                        {% if g["role"] == "admin" %}
                        <li class="list-group-item">
                            <button class="btn btn-primary" id="delete_button_{{ product['id'] }}">
                                Delete
                            </button>
                            <script>
                                $("#delete_button_{{ product['id'] }}").click(function(){
                                    $.ajax({
                                        url: '{{ url_for("schema_delete", schema="products", id_number=product["id"]) }}',
                                        type: 'DELETE',
                                        success: function(response) {
                                            location.reload()
                                        },
                                    })
                                })
                            </script>
                        </li>
                        {% endif %}
                    </ul>
                </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
