{% extends 'base.html' %}
{% block content %}
<table class="table table-borderless">
    <tbody>
        <tr>
            <td>
                {{ product["name"] }}
            </td>
        </tr>
        <tr>
            <td>
                <span style="max-height: 200px;">
                {% if product["image"] %}
                    <img src="{{ url_for('static', filename=product['image']) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='no_image.png') }}">
                {% endif %}
                </span>
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h1>
                            {{ product["price"] }} zł
                        </h1>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-secondary" id="add_to_cart_button">
                            Add to cart
                        </button>
                        <script>
                            $("#add_to_cart_button").click(function(){
                                $.ajax({
                                    url: '{{ url_for("add_to_cart") }}',
                                    type: 'POST',
                                    success: function(response) {
                                        location.reload()
                                    },
                                })
                            })
                        </script>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ product["description"] }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}