{% extends 'base.html' %}
{% block content %}
{% if g["role"] == "admin" %}
<ul class="list-group">
    <li class="list-group-item">
        <button class="btn btn-primary">
            Add
        </button>
    </li>
</ul>
{% endif %}
<table class="table table-borderless">
    <tbody>
        <tr>
        {% for product in products %}
            {% if loop.index % 4 == 0 %}
        </tr>
        <tr>
            {% endif %}
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ product["name"] }}
                        </li>
                        <li class="list-group-item">
                            <img src="{{ url_for('static', filename=product['image']) }}" class="img-thumbnail">
                        </li>
                        <li class="list-group-item">
                            {{ product["price"] }} zł
                        </li>
                        {% if g["role"] == "admin" %}
                        <li class="list-group-item">
                            <button class="btn btn-primary" id="delete_button_{{ product['id'] }}">
                                Delete
                            </button>
                            <script>
                                $("#delete_button_{{ product['id'] }}").click(function(){
                                    $.ajax({
                                        url: '{{ url_for("schema_delete", schema="products", id_number=product["id"]) }}',
                                        type: 'DELETE',
                                        success: function(response) {
                                            location.reload()
                                        },
                                    })
                                })
                            </script>
                        </li>
                        {% endif %}
                    </ul>
                </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
